body{
    background-color: #FFDC2C;
    margin: 0;
    padding: 0;
}

a img{
    width: 75%;
}

header{
    display: grid;
    grid-template-columns: 20% 80%;
    border-block-end: 2px solid black;
}

header a{
    border-right: 2px solid black;
}
header h1{
    text-align: center;
}

nav{
    margin: 10px 0px ;
    text-align: center;
}

nav a{
    margin: 0px 50px;
    text-decoration: none;
    font-size: 20px;
    color: #0A00B4;
}

nav a:hover{
    color: #645cff;
}

#formulario{
    display: grid;
    max-width: 600px;
    margin: 50px  30px 40px 20px;
    padding: 20px;
    border: 5px solid #0A00B4;
    height: 100vh;
}

h2{
    text-align: center;
}

input[type="text"], input[type="email"]{
    max-width: 350px;
}
select{
    max-width: 100px;
}
form{
    width: 100%;
    display: inline-block;
    margin: 6px 0;
    padding: 10px;
    border: 1px solid #0A00B4;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: #0A00B4;
    color: white;
    padding: 10px 30px;
    margin: 8px 0;
    border: none;
    width: 20%;
}

footer{
    background-color: #0A00B4;
    color:white;
    margin-top: 50px;
    padding: 2px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}